*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;

  /* display: flex;
  justify-content:center; */
  

  flex-direction: column;
  display: grid;
  grid-template-areas:
    "encabezado"
    "article"
    "container"
    "footer";
  gap: 10px;
 
  /* background-image: url("./Background.gif") ;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 1200px 560px; */
 
 
}

/* Encabezado */

.Encabezado{
  width: 100%;
  height: 60%;
  display: flex;
  align-items: center;
  margin-top: 30px;
  margin-left: 50px;
  
  
}

.Contenedor{
  width: 100%;
  margin: 0;
  padding: 0;
  /* max-width: 1200px; */
  
  

  
 
}

/* Ajuste de posicionamiento logo y del menú encabzado */
.Contenedor .btn-menu, .logo{
  float: left;
  line-height:100px;
  
}

/* Ajuste del menú del encabezado */
.Contenedor .btn-menu label{
  color: black;
  font-size: 25px;
  cursor: pointer;
  
}

/* Ajuste posicionamieno del menú del encabezado */
.Contenedor .menu{
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-flow: row wrap;
  line-height: 10px;
  text-align: center;
}
/* Texto del menú de encabezado */
.Contenedor .menu a{
  display: inline-block;
  padding: 8px;
  line-height: normal;
  text-decoration: none;
  color: black;
  
  transition: 0.3s ease;
  border-bottom: 1px solid gray;
  font-size: 15px;
  margin-right: 4px;
  font-family: "Roboto","Arial",sans-serif;
}

/*´Posición barra de busqueda  */
#search{
  display: flex;
  justify-content: center;
  align-items:flex-start ;
}

.notificaciones{
  margin:20px;

}
.notificaciones:hover{
  border-bottom: 4px solid #e8ee2d;
  padding-bottom: 15px;
}

/* aplicación del hover y ajuste del border de los botones del menú del encabezado */
.Contenedor .menu a:hover{
  border-bottom: 4px solid #c7c7c7;
  padding-bottom: 15px;
}

/* Cierre encabezado */

/* Inicio barra de opciones lateral */
/* Ajuste de posición del contenedor */
.container{
  /* position:fixed; */
 
  position: fixed;
  height: 100%;
  overflow: auto;

  opacity: 0.5;
  visibility: hidden;
  width: 280px;
 
}

/* Aparecer menú lateral con el click  en el ícono*/

#btn-menu:checked ~ .container{
  opacity: 10;
  visibility: visible;

}

/* fondo del sidebar y dimensiones */
.sidebar{
 
  width: 250px;
  height: 100%;
  background-color: gray;
  
  overflow: auto;
  float: left;
}


/* Ajuste del ícono X para cerrar el sidebar */

.side-hide{
  float:right;
  margin: 12px;
  color: white;
  opacity: .7;
  font-size: 24px;
  cursor: pointer;
} 
/* Ajuste del padging opciones sidebar */
.sidebar ul li{
  padding: 12px 22px;
}
/* Ajuste hover sidebar */
.sidebar ul li:hover{
  background: #4e4e4e;
  cursor: pointer;

}
/* Ajuste letra sidebar */
.sidebar ul li a{
  text-decoration: none;
  color: white;
  font-size: 17px;
  font-family: sans-serif;
  text-shadow: 1px 1px 3px black;
  display: flex;
  align-items: center;

}
/* Se ajusta el margen superior del inicio de la opciones */
ul{
  margin-top: 30px;
}

/* Ajuste de la selección en el sidebar */

button{
  background-color: black;
  color: white;
  padding: 15px 12px;
  border:none;
  display: block;
  
  cursor:pointer;
  margin-top: 20px;
  margin-left: 10px;
}

/* Recuadro parte 2 del sidebar */
.Part2{
  padding-top: 20px ;
  padding-bottom: 20px;
  border-width: 1px;
  border-style: solid;
  border-top-color: rgb(213, 209, 209) ;
  border-bottom-color: rgb(213, 209, 209) ;
  
}
/* Títulos principales sidebar */
h4{
  margin-left:10px;
  padding-bottom: 10px ;

  font-size: 15px;
  color:white;
  font-family: sans-serif;
  text-shadow: 1px 1px 3px black;
}

/* Configuración ícono sidebar */

#IconoSB{
  padding-right: 12px;
}
/* no mostrar sidebar si no se le da click al ícono  */
#btn-menu{
  display: none;
 
}

/* Ajuste imagenes sidebar de suscripciones */
.ImgSB{
  border-radius: 100%;
  padding-right: 12px;
  width: 40px;
  
}

/* Finaliza ajuste sidebar */



/* Inicia ajuste videos */




/* Ajuste posicionamiento de los videos con respecto al contenedor */

.article {
  margin-top:35px;
  margin-bottom:20px;
  padding-left: 8%;
  padding-right: 10px;
  
  grid-area: article;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto;
  transition:0.8s ease;
  height: 400px;
  gap:20px;
  align-content: space-around;
  width: 80%;
  
  
}

.art-item{
  
  margin-left: 10px;
  margin-right: 10px;

}

iframe{
  width: 380px;
  height: 200px;
}

/* Auste títulos de pie de video */
 .artitem h3{
  display: flex;
  align-items: center;
  justify-content: center;
 
}


h3{
  font-size: medium;
  text-align: center;
  font-family: "Roboto","Arial",sans-serif;
  text-shadow: 1px 1px 1px rgb(246, 241, 241);
  margin-right: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}
 /* Finaliza ajuste videos  */

 .footer {
  grid-area: footer;
  height: 100%;
  background-color: #d02424;
  
  display: flex;
  justify-content: center;
  align-items: center;
   
  
}  

